body {
	background-color: #fefefe;
	font-size: 1.05em;
	color: #333;
}

.header {
	background: #fff;
	border-top: 3px solid #e93535;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.header.ui-header-fixed:not(.ui-fixed-hidden) {
	border-top-width: 4px;
	padding-top: 0;
}

/* Header logo */
.header h1.logo {
	font-size: 1em;
	margin: .6em 3.375em;
}
.header .logo a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.header .logo img {
	display: block;
	width: 140px;
	height: auto;
}
.start .header .logo img {
	display: inline-block;
}

/* Headings */
.content > h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.4em;
	color: #333;
	clear:both;
}
.content > h2,
.content > h3,
.content > h4,
.welcome h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: #e93535;
	padding-top: .6em;
	clear:both;
}
.welcome h2 {
	font-size:1.5em;
	margin-left:.5em;
	margin-top:-.2em;
}
.content .home {
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 135%;
	margin-top: -.5em;
	margin-bottom: .5em;
	padding-bottom: 2.6em;
	color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-color: rgba(0,0,0,.1);
}
.start .content .home {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:.9em;
	line-height: 1.4;
	margin: -.8em .8em .5em .8em;
	padding-bottom: .6em;
	border: none;
	color: #555;
}


/* Responsive */
@media (min-width:800px) {
	/* Header logo */
	.header h1.logo {
		text-align: left;
		margin: .8em 0 .8em 20%;
	}

	.header .logo img {
		display: block;
		width: 150px;
		height: auto;
	}

	.welcome {
		float: left;
		width: 48%;
		padding-right:6%;
		margin-top:.4em;
	}
	.login {
		float: left;
		width: 45%;
	}
}
.conditions{
	font-size: 55%;
	text-align: center;
	color: #757575;
}
@media (min-width:800px) {
	/* Content */
	.content {
		padding-right: 20%;
		padding-left: 20%;
	}

}

@media screen and (max-width:800px) {
   .houses { display: none; }
}​


.home2 {
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 135%;
	color: #333;
}